{% extends 'trains_schedule/base.html' %}
{% block content %}

<h1>{{ train.train }}</h1>
<h3>{{ "Route info" }}</h3>

<div class="text_style">
    {{ train.display_train }}
</div>

<h3>{{ "Train info" }}</h3>

<div class="text_style">
    {{train.display_train_info}}
</div>

<br>
{% if user.is_authenticated %}
<form  method="post">
    {% csrf_token %}
    <input id="action_id" type="hidden" name="action" value="Delete">
    <input type="submit" value="Delete" />
</form>

<form method="post">
    {% csrf_token %}
    <input id="action_id" type="hidden" name="action" value="Change">
    <input type="submit" value="Change data" />
</form>

<form  method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input id="action_id" type="hidden" name="action" value="Save">
    <input type="submit" value="Save changes" />
</form>

        {% endif %}
{% endblock content %}

