{% extends 'trains_schedule/base.html' %}

{% block content %}


    <a href="{% url 'trains' %}">List of all train routes</a>

    <form method="get">
    {% csrf_token %}
    <label for="search_value">Search trains by name: </label>
    <input id="search_value" type="text" name="search_value">

    <input type="submit" value="Search">
    </form>

    {% if search_train_list %}
        <ul>
        {% for train_route in search_train_list %}
            <li><a href="{% url 'trains' train_route.id %}">{{ train_route.display_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    {% endif %}


    <h3>List of trains for current week</h3>


    {% if latest_schedule_list %}
        <ul>
        {% for train_route in latest_schedule_list %}
            <li><a href="{% url 'trains' train_route.id %}">{{ train_route.display_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No schedule are available.</p>
    {% endif %}

    <a href="{% url 'weeks_schedule' %}">Schedule for another week</a>

{% endblock content %}

